<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>

<body>
  <h1>Chào mừng bạn đến với NestJS + Handlebars</h1>
  <p>{{message}}</p>
  <hr>
  <a href="/users">Go to /users (nếu thấy link này là đã thành công)</a>
</body>

</html>